.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 480px;

  background-color: #2f303a;
}

// .page-footer__flex-box {
//   display: flex;
//   align-items: center;
//   flex-direction: column;

//   @media screen and (min-width: 768px) {
//     flex-direction: row;
//     justify-content: space-between;
//   }

//   @media screen and (min-width: 1200px) {
//     flex-direction: row;
//     gap: 92px;
//   }
// }

.page-footer__flex-box {
  @media screen and (max-width: 767px) and (min-width: 1200px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    // flex-direction: row;
    // justify-content: baseline;
    // gap: 92px;
  }
}

.page-footer__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    margin-left: 76px;
    margin-right: 165px;

    @media screen and (min-width: 1200px) {
      display: inline-flex;
      align-items: flex-start;
      margin: 0 70px 0 0;
    }
  }
}

// Адрес
.address {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  @media screen and (min-width: 1200px) {
    align-items: stretch;
    gap: 9px;

    margin-bottom: 0;
  }
}

.address__street {
  color: #fff;
}

.address__contacts {
  color: rgba(255, 255, 255, 0.6);
}

// Социальные сети

.page-footer__socials {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    align-items: flex-start;
    margin-right: 93px;
  }
}

.page-footer__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #fff;
}

.links {
  display: flex;
  gap: 10px;
}

.links__item {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  @media screen and (min-width: 1200px) {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--focus-color);
    }
  }
}

.links__icon {
  width: 20px;
  height: 20px;
  object-position: center;

  fill: #fff;
}

// Форма

.page-footer__form {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}
.form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
}

.form__pos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 12px;
  }
}

.form__input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;

  color: #fff;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: var(--focus-color) solid 1px;
    border: inherit;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.form__button {
  position: relative;
  width: 200px;
  height: 50px;
  padding-left: 28px;
  text-align: left;
}

.button__icon {
  position: absolute;
  top: 13px;
  right: 28px;
}
