.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eeeeee;

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .page-header__flex-box {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

//
.menu-button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;

  background-color: #fff;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button__burger {
  @extend .menu-button;
  // margin-left: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

/* Header-Навигация */
.site-nav__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
  gap: 50px;
}

.site-nav__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link--active {
  position: relative;
  color: var(--focus-color);

  &::after {
    content: '';

    position: absolute;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--focus-color);
  }
}

/* Header-Контакты */
.contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-left: auto;
    gap: 40px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  margin-right: 10px;

  fill: var(--text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: var(--focus-color);
  }
}

.contacts__mail {
  @extend .contacts__icon;
  width: 14px;
  height: 10px;

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.contacts__call {
  @extend .contacts__icon;
  width: 10px;
  height: 14px;

  @media screen and (min-width: 1200px) {
    height: 16px;
  }
}
