.advances {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advances__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.advances__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.advances__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.advances__text {
  font-size: 14px;
  line-height: 1.71;
}
